*.csv
*.tsv
*.dta
*.txt
*.dat
*.[rR]data
*.[rR]data
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.Rmd
*.bgen
*.gen
out*
error*
j*.sh.e*
j*.sh.o*
*.sh.e*
*.sh.o*
*.enc_ukb
*.enc
*.cwa
.Renviron
manuscript
data
analysis
environment
000_metabolite_format/
000_adiposity_format/
.DS_Store
